@tailwind base;
@tailwind components;
@tailwind utilities;

/* .cover {
  background-image: url("/cover-bg-2.jpg");
  height: 290px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */
